* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 900px;
	height: 900px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.box {
	border: 2px solid black;
}
