* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.container {
	margin-left: 30px;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 900px;
	height: 900px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.box {
	border: 0.2px solid rgb(241, 241, 241);
}

.painted {
	background-color: rgb(53, 53, 53);
	border: 0.2px solid rgb(53, 53, 53);
}
